@{
    ViewData["Title"] = "Contacto";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Fabian Flores<br />
    Ciudad de Mexico<br />
    <abbr title="Phone">P:</abbr>
   5524996280
</address>

<address>
    <strong>Support:</strong> <a href="mailto:niir.rff@gmail.com">niir.rff@gmail.com</a><br />

</address>
